@import './helpers.scss';

#root {
  overflow-x: hidden;
  box-sizing: content-box;
}

.main-layout {
  @include flexbox(row, flex-start, flex-start);
  width: 98vw;
  max-height: calc(100vh - 100px);
}
.statements-container {
  width: 25vw;
  position: fixed;
  right: 0;
  height: calc(100vh - 100px);
  box-shadow: 0 0 3px 3px grey;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4px;
  padding-left: 15px;
}
.chart-container {
  width: 72vw;
  height: 100%;
}
